

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto+Serif:opsz@8..144&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;    
}

/*------Header-----*/
header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4); 
    position: relative;   
}

header h1 {
    margin: 0 20px;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
}

/*------Nav-----*/

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li a {
    margin: 0 20px;
    text-decoration: none;
    color: black;
    transition: all 0.4s linear;
}

header nav ul li a:hover {
    color: red;
    
}
/*---MQ----*/
@media screen and (max-width:480px) {
    header {
        height: auto;
    }
    header h1 {
        width: 100%;
        font-size:25px;
    }
    header nav {
        width: 100%;
    }
    header nav ul li {
        width: 100%;
        padding: 3px 0;
    }
    header nav ul li a {
        display: block;
        font-size: 12px;
        width: 100%;
        border-bottom: 1px solid lightgrey;
    }
    
}


/*------------------Main-------------------*/

/*------Hero------*/
.hero {
    text-align: left;
    width: 100%;
    height: 400px;
    background-image: url(../img/model.webp);
    background-position:top;
    background-repeat: no-repeat;
    background-attachment:fixed;
    padding: 50px 50px;
    color: red;
}
.hero h2 {
    font-family: 'Roboto Serif', serif;
    font-size: 60px;
}
.hero p {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin-bottom: 15px;
}
.hero a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 12px;
    color: red;
    letter-spacing: 5px;
    border: solid 1px red;
    padding: 5px;
    transition: all 0.4s ease-in-out;
}
.hero a:hover {
    background-color: red;
    color: white;
    border-color: white;
}

@media screen and (max-width:480px) {
    .hero {
        height: auto;
        padding: 40px 20px;
        background-position:center;
        }

    .hero h2 {
        font-size: 40px;
        }
    .hero p {
        font-size: 25px;
        margin-bottom: 10px;
        }
    .hero a {         
        font-size: 10px;
        }    
    
}


/*------Bienvenidos-----*/

.bienvenidos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    background-color: red;
    text-align: center;
}
.bienvenidos p {
    font-size: 15px;
    line-height: 30px;
    margin: 15px 0;
}

.bienvenidos div{
    width: 350px;
    height: auto;
}
.bienvenidos img {
    width: 300px;
    height: 100%;
    margin: 20px;
}
@media screen and (max-width:480px) {
    .bienvenidos h2 {
        font-size: 18px;
    }
    .bienvenidos p {
        margin: 0 20px 20px 20px;
        font-size: 12px;
        line-height: 20px;
    }
}

/*------productos destacados-----*/

.productosDestacados {
    text-align: center;
}

.productosDestacados h2 {
    color: red;
    font-size: 24px;
    margin: 20px 0;
}

.productoInicio h3 {
    font-family: 'Roboto Serif', serif;
    font-size: small;
    margin: 10px 10px;
}
.destacados {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.destacados div {
    border: 1px solid gray;
    width: 251px;
    height: 450px;
    text-align: center;
    margin: 10px;
}

.destacados div img {
    width: 249px;
    height: auto;
}

.destacados a{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    padding: 7px;
    text-decoration: none;
}

/*------New-----*/
.contentNew{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new {
    background-image: url(../img/newfoto.jpg);
    width: 400px;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px 20px 100px 20px;
    text-align: center;
    color: white;
}
.new h2 {
    font-family: 'Roboto Serif', serif;
    font-size: 60px;
}
.new p {
    font-size: 20px;
}
.envioGratis {
    font-family: 'Roboto Serif', serif;
    font-size: 20px;
    color: rgb(155, 155, 155);
    text-align: left;
    margin-left: 50px;
    width: 400px;
}

/*GALERIA*/
.galeriaNew {
    margin: 20px 20px;
    text-align: center;
}
.galeriaNew h2 {
    color: red;
    font-size: 24px;
    margin: 20px 0;
}
.gridGaleria {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 15px;
}
.gridGaleria div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gridSpan3 {
    grid-row: span 2;
}
.gridSpan4 {
    grid-row: span 2;
}
.gridSpan9 {
    grid-row: span 3;
}
.gridSpan12 {
    grid-row: span 2;
}
/*------Productos-----*/

.gridProductos {
    padding: 20px 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 340px;
    gap: 15px;
}
.gridProductosItem {
    width: 200px;
    height: 280px;
    text-align: center;
    padding-bottom: 10px;
}
.gridProductosItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gridProductosItem h3{
    font-family: 'Roboto Serif', serif;
    font-size: 25px;
    color: red;
}
.gridProductosItem a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    letter-spacing: 3px;
    color: white;
    padding: 8px 8px;
    text-decoration: none;
}
.galeriaBtn {
    background-color: red;
}

/*------Nosotros-----*/
.nosotros {
    background-image: url(../img/nosotros-3.jpg);
    width: 100vw;
    height: 450px;
    background-position: center;
    background-repeat: no-repeat;
    text-align: left;
    padding: 50px 50px;
    color: black;
}
.nosotros h2 {
    font-family: 'Roboto Serif', serif;
    font-size: 60px;
}
.nosotros p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}
.nosotros a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: smaller;
    font-size: 14px;
    color:black;
    border: solid 1px black;
    padding: 5px 5px;
    transition: all 0.4s linear;
}
.nosotros a:hover {
    color: red;
    border-color: red;
}

.atencion {
    display: flex;
    justify-content: start;
    align-items: center;
}
.atencion div {
    width: 350px;
    height: 300px;
    margin: 30px 20px;
    overflow: hidden;
    position: relative;
}
.atencion div img {
    width: auto;
    height: 100%;
    position: absolute;

}
.atencion div h2 {
    font-size: 18px;
}
.atencion div p {
    font-size: 14px;
}

iframe {
    margin-top: 10px;
}

/*------Contacto-----*/

form h3 {
    font-size: large;
    padding-bottom: 10px;
}

.formulario {
    width: 300px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    border: solid 1px black;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    color:black;
    text-align: center;
}

.campo{
    border: solid 1px black;
    padding: 10px;
    margin: 10px 0;
    width: 90%;
}

.campo:focus {
    border-color:rgb(235, 152, 152);
}

input, textarea {
    outline: none;
    border: 0;
}

textarea {
    font-family: Arial, Helvetica, sans-serif;
}

.btnForm {
    cursor: pointer;
    width: 100px;
    background-color: rgb(199, 199, 199);
    padding: 10px;
    margin: 5px;
    letter-spacing: 2px;
    font-size: smaller;
}
.btnForm:hover {

    transition: 0.5s ;
    background-color: rgb(235, 152, 152);
}

/*------Footer-----*/

footer {
    margin-top: 50px;
    text-align: center;
    font-size: small;
    clear: both;
    padding-bottom: 50px;
}
footer p {
    margin-top: 15px;
}
.grupoIconos {
    margin: 0 auto;
    width: 150px;
    display: flex;
    justify-content:center;
}

/*-----Botones Iconos----*/
.contenedorIcono {
    position: relative;
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.contenedorIcono img {
    position: absolute;
    left: 0;
    transition: 0.5s ease-in-out;
}

.contenedorIcono img.icon:hover {
    opacity: 0;
}

/*------Media Query-----*/

@media screen and (max-width:768px) {
    .gridGaleria {
        grid-template-columns: repeat(2,1fr);
        grid-auto-rows: 220px;
    }
    .gridItem {
        grid-column: span 1;
        grid-row: span 1;
    }
    .gridSpan2 {
        grid-row: span 2;
    }
    .gridSpan3 {
        grid-row: span 2;
    }
    .gridSpan12 {
        grid-row: span 2;
    }
}