header {
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    position: relative;

    h1 {
        font-size: nth($font-size, 3);
        font-family: 'Roboto Serif', serif;
        font-weight: bold;
        font-style: normal;
    }
}

.sm-icons {
    flex-direction: row !important;
}

.sm-icons .nav-link {
    padding-right: 10px !important;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.bi-bag {
    font-size: 11px !important;
}

.bi-search {
    font-size: 11px !important;
}

.navbar-nav {
    font-size: 13px !important;
}

.dropdown-menu {
    font-size: 12px !important;
}